.navbar
  background: white 
  &-top 
    display: flex
    justify-content: space-between
    align-items: center
    padding: 40px 0 40px 0
  &-search
    margin-right: auto
    margin-left: 108px
  .search
    position: relative
    display: flex
    overflow: hidden
    border-radius: 6px

    &-input
      color: $text-color 
      width: 350px
      height: 40px
      border: none
      font-size: 12px
      background: #F5FAFE
      padding-left: 13px
      padding-right: 75px
    &-button

      background: #EC1F46
      padding: 0
      width: 65px
      height: 40px
      position: absolute
      right: 0
      top: 0
      border: none
  .user
    text-decoration: none
    display: flex
    align-items: center
    &-avatar
      width: 40px
      height: 40px
      border-radius: 50%
      object-fit: cover
    &-name
      font-family: Mulish;
      font-size: 14px;
      line-height: 18px;


      color: $text-color  
      padding-left: 18px